.btn {
    padding: 0.3rem 0.50rem;
}
.label-form-title {
    font-size: 17px;
    font-style: italic;
}

.card-body {
    position: relative;
}

.block-points {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.points {
    position: relative;
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
    margin: 5px;
}
.points:before, .points:after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    left: -8px;
    background-color: black;
    border-radius: 50%;
}
.points:before {
    left: -16px;
}
.points.active::before {
    transform: translate(16px,20px);
    transition: all 500ms ;
}
.points.active::after {
    transform: translate(8px,10px);
    transition: all 500ms ;
}

.settings-block-wrap {
    display: flex;
}
.settings-block-date {
    margin-right: auto;
}

.settings-block-images {
    width: 60px;
    margin-left: auto;
}

.settings-block-images_item {
    width: 15px;
    height: 15px;
}
.pencil {
    margin-right: 10px;
}

.field {
    animation: rotate 3s linear infinite;
    width: 40px;
    height: 40px;
}
.block-field {
    animation: move 8s linear alternate infinite;
    width: 40px;
    height: 40px;
}

.group-btn {
    display: flex;
}

.color-block {
    display: flex;
    flex-wrap: wrap;

    border: 1px solid rgba(0, 0, 0, .2);
    height: auto;
    padding: 5px;
}
.block-width {
    width: 160px;
}
.custom-select {
    width: 140px;
    margin: 10px 0px;
}
.active {
    border-radius: 20px;
}


.color-background .custom-select option:nth-child(2) {
    background-color: aqua;
}
.color-background .custom-select option:nth-child(3) {
    background-color: darkred;
}
.color-background .custom-select option:nth-child(4) {
    background-color: deeppink;
}
.color-background .custom-select option:nth-child(5) {
    background-color: orangered;
}
.color-background .custom-select option:nth-child(6) {
    background-color: yellow;
}


.color-text .custom-select option:nth-child(2) {
    color: rgba(0, 0, 0, .2);
}
.color-text .custom-select option:nth-child(3) {
    color: darkred;
}
.color-text .custom-select option:nth-child(4) {
    color: Gold;
}
.color-text .custom-select option:nth-child(5) {
    color: red;
}


@keyframes rotate {
    to {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(-360deg);
    }
}

@keyframes move {
    from {
        transform: translateX(0px)
    }
    to {
        transform: translateX(300px)
    }
}
